# Created by venv; see https://docs.python.org/3/library/venv.html
venv/
__pycache__/
db.sqlite3
.env
0001_initial.py
0002_alter_cart_item_quantity_profile_context_and_more.py
0003_alter_profile_context_context_and_more.py
