{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    <div class="head">
        
        <div>
            <form action="{% url 'category' %}" method="get">
                <button >Категория</button>
            </form>
        </div>

        <div>
            <form action="{% url 'Cart' %}" method="get">
                <button >Корзина</button>
            </form>
        </div>
        {% if user.is_authenticated %}
        <div>
            <form action="{% url 'Profile' %}" method="get">
                <button>Аккаунт</button>
            </form>
        </div>
        {% else %}
        <div>
            <form action="{% url 'main_auth' %}" method="get">
                <button>Логин/Регистрация</button>
            </form>
        </div>
        {% endif %}
    </div>
    
    <div class="category">
        <div class="category-1"><a href="{% url 'category_products' 'Dairy_products' %}"><button>Молочное</button></a></div>
        <div class="category-2"><a href="{% url 'category_products' 'Meet' %}"><button>Мясо</button></a></div>
    </div>

    <div class="Main">
        <h3>Добро пожаловать на сайт</h3>
        
        {% if messages%}
            {% for message in messages%}
                <div class="success_messages">{{message}}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="products">
        {% if random_products%}
            {% for product in random_products%}
                <form action="{% url 'Cart_add/delete' 'add' product.id  %}" method="post">
                    {% csrf_token%}
                    <div class="product">
                        <img src="{{ product.imagin.url }}" alt="Картинка Продукта {{product.name}}" >
                    <div class="textbutton">
                        <p>{{product.name}} price:{{product.price}} руб</p>
                        <button type="submit"> + </button>
                    </div>
                </form>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>