{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile </title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}

    {% if profile_data %}
            <div class="Profile">
                <div class="Teg_Profile"><p>Добро пожаловать это ваш Профиль </p></div>
                    {% if profile_data.ava %}
                    <img src="{{ profile_data.ava.url }}" alt="Аватарка вашего профиля"> - {{profile_data.ava.Context.user.username}}
                    {% else %}
                    {{profile_data.ava.Context.user.username}}
                    {% endif %}
                <p>Имя:</p>
                {{profile_data.user.first_name}}
                <p>Фамилия:</p>
                {{profile_data.user.last_name}}
                <p>О себе:</p>
                {{profile_data.context}}
            </div>
    
    <form action="{% url 'Profile_edit' %}" method="get">
        {%csrf_token%}
        <button type="submit">Изменить Профиль</button>
    </form>

    {% elif profile_avatar2 %}
            <div class="Profile">
                <div class="Teg_Profile"><p>Добро пожаловать это ваш Профиль </p></div>
                    {{profile_avatar2.Context.user.username}}    
                <form action="{% url 'Profile_edit' %}" method="post" enctype="multipart/form-data">
                    {{Form.ava}}
                    <p>Имя:</p>
                        {{Form.first_name.label_tag}} {{Form.first_name}}
                    <p>Фамилия:</p>
                        {{Form.last_name.label_tag}} {{Form.last_name}}
                    <p>О себе:</p>
                        {{Form.context.label_tag}} {{Form.context}}
                        {%csrf_token%}
                    <button type="submit">Принять изминения</button>
                </form>    
            </div>
    {% endif %}
</body>
</html>