<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <div class="head">
        <div class="head-1"><a href="{% url 'Main' %}"><button name="Телепорт" value="Корзина">Категория</button></a></div>
        {% if user.is_authenticated %}
        <div class="head-2"><a href="{% url 'Main' %}"><button name="Телепорт" value="Аккаунт">Аккаунт</button></a></div>
        {% else %}
        <div class="head=2"><a href="{% url 'Main' %}"><button name="Телепорт" value="Гость">Логин/Регистрация</button></a></div>
        {% endif %}
    </div>
    <div class="category">
        <div class="category-1"><a href="{% url 'Main' %}"><button name="Телепорт" value="category Молочное"> Молочное</button></a></div>
        <div class="category-2"><a href="{% url 'Main' %}"><button name="Телепорт" value="category Мясо">Мясо</button></a></div>
    </div>
    <div class="Main">

        <h3>Добро пожаловать на сайт</h3>

    </div>
</body>
</html>