{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catagory</title>
    <link rel="stylesheet" href="{% static 'category.css' %}">
</head>
<body>

    {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor %}
    {% endif %}

    {% if Categorys %}
        {% for Category in Categorys %}
            <div class="Category">
                <form action="{%url 'Category_products' Category.name %}">
                    {% if Category.number_products == 0 %}
                    <p>{{Category.name}} Продуктов:{{Category.number_products}}</p>
                    {% else %}
                    <p>{{Category.name}} Продуктов:{{Category.number_products}}</p>
                    <p>от{{Category.Min_price}}руб до{{Category.Max_price}}руб</p>
                    {% endif %}
                    <button type="submit">Нажмите</button>
                </form>
            </div>
        {% endfor %}
    {% endif %}
    

    <form action="{% url 'Exit' 'Main'%}">
        <div class="Exit">
            <button type="submit"><-- Exit </button>
        </div>
    </form>
</body>
</html>