{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catagory</title>
    <link rel="stylesheet" href="{% static 'category.css' %}">
</head>
<body>

    {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor %}
    {% endif %}

    {% if Categorys %}
        {% for Category in Categorys %}
            <div class="Category">
                <form action="{%url 'Category_products' Category.name%}">
                    <p>{{Category.name}}:</p>
                    <button type="submit">Нажмите</button>
                </form>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="products">
        <div class="Meet">
            <form action="{% url 'Category_products' 'Meat' %}" method="get">
                <p>Мясо:</p>
                <button type="submit">Нажмите</button>
            </form>
        </div>
        <div class="Fruit">
            <form action="{% url 'Category_products' 'Fruit'%}" method="get">
                <p>Фрукты:</p>
                <button type="submit">Нажмите</button>
            </form>
        </div>
        <div class="Vegetables">
            <form action="{% url 'Category_products' 'Vegetables' %}" method="get">
                <p>Овощи:</p>
                <button type="submit">Нажмите</button>
            </form>
        </div>
        <div class="Dairy_products">
            <form action="{% url 'Category_products' 'Dairy_products' %}" method="get">
                <p>Молочные продукты:</p>
                <button type="submit">Нажмите</button>
            </form>
        </div>
    </div>

    <form action="{% url 'Exit' 'Main'%}">
        <div class="Exit">
            <button type="submit"><-- Exit </button>
        </div>
    </form>
</body>
</html>