<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    {%if cart_item %}
        {%for item in cart_item %}
            <p>{{item.product.name}} - {{item.product.price}} руб </p>
            <form action="{% url 'Cart_add/delete' 'add' item.product.id %}">
                Штук:{{item.quantity}}
                <button type="submit"> + </button>
            </form>
            <form action="{% url 'Cart_add/delete' 'delete' item.product.id%}"><button type="submit"> - </button></form>
        {%endfor%}
    {%endif%}

    <div class="Menu_Price">
        <div class="Teg">
            <h3>Товары</h3>
            {%if cart_item %}
                {%for item in cart_item %}
                    <div class="Menu_products">
                        <p>{{item.product.name}} x {{item.quantity}}</p>         
                    </div>
                {%endfor%}
                    <h3>Полная Сумма:</h3>
                    <form action="{%url 'Buy'%}">
                        <button type="submit">{{sum_price}}</button>
                    </form>
            {%endif%}
        </div>
    </div>
</body>
</html>