<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    
    {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor %}
    {% endif %}

    <form action="{%url 'login2'%}" method="post">
        {%csrf_token%}
        {{form}}
        <button type="submit">Отправить</button>
    </form>
    <br>
    <form action="{%url 'send_code'%}" method="post">
        {%csrf_token%}
        <button name="send_code" value="send_code">Отправить код на вашу почту</button>
    </form>
</body>
</html>